<form cForm #form="ngForm" (ngSubmit)="onFormSubmit()">
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-body>
          <c-row>
            <c-col xs="auto" class="me-auto">
              <h4>Part 1: Basic Infomation</h4>
            </c-col>
            <c-col xs="auto"></c-col>
          </c-row>
          <div class="mb-3">
            <label cLabel for="company">Company</label>
            <input cFormControl id="company" type="text" name="company" [(ngModel)]="model.company" />
          </div>


          <div class="mb-3">
            <label cLabel for="adsImage">Ads Image Url
              <button id="adsImageButton" (click)="openAdsImageDialog()" cButton>Image Selector</button>
              <app-image-selector-user></app-image-selector-user>
            </label>
            <input cFormControl id="adsImage" type="text" name="adsImage" [value]="model.adsImage"
              [(ngModel)]="model.adsImage" />
            <ng-container *ngIf="model.adsImage">
              <div>
                <img [src]="model.adsImage" height="200" class="mt-2 ">
              </div>
            </ng-container>
          </div>

          <div class="mb-3">
            <label cLabel for="type">Type</label>
            <select class="form-select" [(ngModel)]="model.type" name="type" id="type">
              <option value="0">Select type</option>
              <option value="1">Diamond (5.000.000 VNĐ)</option>
              <option value="2">Gold (3.000.000 VNĐ)</option>
              <option value="3">Sliver (2.000.000 VNĐ)</option>
            </select>
          </div>

        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row>
    <c-col xs>
      <c-card class="mb-4">

        <c-card-body>
          <c-row>
            <c-col xs="auto" class="me-auto">
              <h4>Part 2: BlogPost</h4>
            </c-col>
            <c-col xs="auto"></c-col>
          </c-row>
          <div class="mb-3">
            <label cLabel for="categoryName">Title</label>
            <input cFormControl id="title" type="text" name="title" [(ngModel)]="model.title" />
          </div>

          <div class="mb-3">
            <label cLabel for="categoryUrlHandle"> Url Handle</label>
            <input cFormControl id="urlHandle" type="text" name="urlHandle" [(ngModel)]="model.urlHandle" />
          </div>
          <div class="mb-3">
            <label cLabel for="shortDescription">Short Description</label>

            <textarea cFormControl id="shortDescription" rows="3" name="shortDescription"
              [(ngModel)]="model.shortDescription"></textarea>
          </div>
          <div class="mb-3">
            <label cLabel for="content">Content</label>
            <ckeditor name="content" [editor]="Editor" [(ngModel)]="model.content"></ckeditor>
          </div>
          <div class="mb-3">
            <label cLabel for="featuredImageUrl">Featured Image Url
              <button id="featuredImageUrlButton" (click)="openfeaturedImageUrlDialog()" cButton>Image Selector</button>
            </label>
            <input cFormControl id="featuredImageUrl" type="text" name="featuredImageUrl"
              [(ngModel)]="model.featuredImageUrl" />
            <ng-container *ngIf="model.featuredImageUrl">
              <div>
                <img [src]="model.featuredImageUrl" height="200" class="mt-2 ">
              </div>
            </ng-container>
          </div>
          <div class="mb-3">
            <label cLabel for="publishedDate">Published Date</label>
            <input cFormControl id="publishedDate" type="date" name="publishedDate" [(ngModel)]="model.publishedDate" />
          </div>
          <div class="mb-3">
            <label cLabel for="author">Author</label>
            <select class="form-select" [(ngModel)]="model.author" name="author" id="author">
              <option selected *ngIf="user" [value]="user.id">{{user.email}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label cLabel for="categories">Categories</label>
            <ng-container *ngIf="categories$ | async as categories">
              <select class="form-select" multiple [(ngModel)]="model.categories" name="categories" id="categories">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>

            </ng-container>
          </div>

          <button cButton type="submit" color="primary">Save changes</button>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</form>