<ng-container *ngIf="blogPost">
<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
              <c-row>
                <c-col xs="auto" class="me-auto"><h3>Edit BlogPost</h3></c-col>
                <c-col xs="auto"></c-col>
              </c-row>
           
        </c-card-header>
        <c-card-body>
          <form cForm #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mb-3">
              <label cLabel for="categoryName">Title</label>
              <input cFormControl
                     id="title"
                     type="text"
                     name="title"
                     [(ngModel)]="blogPost.title"
              />
            </div>
  
            <div class="mb-3">
                <label cLabel for="categoryUrlHandle"> Url Handle</label>
                <input cFormControl
                       id="urlHandle"
                       type="text"
                       name="urlHandle"
                       [(ngModel)]="blogPost.urlHandle"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="shortDescription">Short Description</label>
               
                <textarea cFormControl id="shortDescription" rows="3"name="shortDescription"
                [(ngModel)]="blogPost.shortDescription"></textarea>
              </div>
              <div class="mb-3">
                <label cLabel for="content">Content</label>
                <ckeditor name="content"  [editor]="Editor" [(ngModel)]="blogPost.content" ></ckeditor>
              </div>
              <div class="mb-3">
                <label cLabel for="featuredImageUrl">Featured Image Url
                    <app-image-slector></app-image-slector>
                </label>
                <input cFormControl
                       id="featuredImageUrl"
                       type="text"
                       name="featuredImageUrl"
                       [(ngModel)]="blogPost.featuredImageUrl"
                />
                <ng-container *ngIf="blogPost.featuredImageUrl">
                    <div>
                        <img [src]="blogPost.featuredImageUrl" height="200" class="mt-2 ">
                    </div>
                    </ng-container>
              </div>
              <div class="mb-3">
                <label cLabel for="publishedDate">Published Date</label>
                <input cFormControl
                       id="publishedDate"
                       type="datetime-local"
                       name="publishedDate"
                       [(ngModel)]="blogPost.publishedDate"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="author">Author</label>
                <input cFormControl
                       id="author"
                       type="text"
                       name="author"
                       [(ngModel)]="blogPost.author"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="categories">Categories</label>
                <ng-container *ngIf="categories$ | async as categories">
                    <select class="form-select" multiple [(ngModel)]="blogPost.categories" name="categories" id="categories">
                        <option  *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
                      </select>
                      
                </ng-container>
              </div>
              <div class="mb-3">
                <input cFormCheckInput id="isVisible" type="checkbox" name="isVisible" [(ngModel)]="blogPost.isVisible"/>
                <label cLabel for="isVisible"> Is Visible</label>
                
              </div>
              <button cButton type="submit" color="primary">Save changes</button>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</ng-container>